.root {
    -fx-background-image: url("/assets/background.gif");
}

.title {
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;
    -fx-text-fill: #f2f2f2;
}
/*
.game{
    -fx-background-image: url("/assets/background.gif");
}

.menu {
    -fx-background-image: url("/assets/menu-background.gif");
}
*/

